* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

.history-container {
  height: 100vh;
  background: linear-gradient(135deg, #88a7e4, #1e88e5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


table {
  background: #ffffff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}


.debit {
  color:red;
}

.credit {
  color:green;
}

.btn-group {
  display: inline-flex;
  justify-content: start;
}

a {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #1e88e5;
  color: white;
  text-align: center;
  width: 90px;
  height: 40px;
  border-radius: 15px;
  padding: 5px;
}

a:hover {
  background-color: rgb(36, 105, 194);
}


