@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.navbar {
  background: var(--primary-color);
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', sans-serif; /* Google Font */
  border-radius: 5px;
}

.navbar-logo h2 {
  font-family: 'Raleway', sans-serif, ; /* Google Font */
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 100;
  font-style: italic;
  margin: 0;
  letter-spacing: 1px;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-item a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item a:hover {
  color: var(--accent-color);
  transform: scale(1.05);
}

.nav-item a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.nav-item a:hover::after {
  width: 100%;
}

.logout-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-btn:hover {
  background-color: #561c24; /* Slightly darker accent color */
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .nav-menu {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .navbar-logo h2 {
    font-size: 1.5rem;
  }
}