/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #251553; /* Primary color: Blue */
  --secondary-color: #a8a3c7; /* Secondary color: Purple */
  --accent-color: #342d52; /* Accent color: Red */
  --text-color: #c6c4e8; /* Text color: White */
  --background-color: #f4f4f4; /* Background color: Light Gray */
}